.search_container {
    max-width: 1220px;
    margin: 0 auto;
    margin-top: 100px;
}

/* Строка поиска */
.search_form {
    padding-top: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

.search_form_text {
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
}

.search_form_button {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #222222;
}

/* Кнопки при выборе фильма или книги */
.choice {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-around;
    margin-bottom: 50px;
}

.choice_button {
    border: none;
    background-color: #e54d4d;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}

.choice_button:hover {
    background-color: #e43131;
}

/* Секция "фильтры" */
.filters_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.filters {
    margin-bottom: 50px;
}

.section_title {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-top: 20px;
}

/* Кнопки при выборе фильтров */
.input_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 70px;
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}

.input_1:after {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: -5px;
}

.input_1:hover {
    background-color: rgb(74, 74, 74);
}

.text_on_button {
    color: #9f9f9f;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.apply {
    margin-top: -40px;
    margin-left: 20px;
}

/* Movie-cards */
.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.movie {
    width: 200px;
    height: 400px;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    transition: 0.6s;
}

.movie:hover {
    transform: scale(1.05);
}

.movie__cover-inner {
    position: relative;
    height: 320px;
}

.movie__cover {
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
}

.movie__cover--darkened {
    border-radius: 20px;
    background-color: #222222;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.movie__cover--darkened:hover {
    background-color: grey;
    cursor: pointer;
}

.movie__info {
    padding: 10px 0px;
}

.movie__title {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.movie__category {
    font-size: 16px;
    color: #e54d4d;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
}

.movie__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0px;
    border-radius: 7px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e54d4d;
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
