@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

.container_1 {
    width: 1220px;
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

h2 {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
}

.about {
    font-family: sans-serif;
    color: #ffffff;
}

.film_book {
    width: 340px;
    border-radius: 15px;
}

.wrapper {
    display: grid;
    grid-template-columns: 340px 630px 150px;
    grid-gap: 40px;
    padding-top: 180px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    padding-top: 20px;
    line-height: 42px;
    color: #ffffff;
}

.subtitle {
    margin-bottom: 10px;
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    opacity: 0.4;
}

.description {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
}

.btn {
    background-color: #e54d4d;
    margin-right: 10px;
    color: #ffffff;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 21px;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #e43131;
}

.watch_later {
    border: none;
    background-color: #e54d4d;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.watch_later:hover {
    background-color: #e43131;
}

.watch_later:active {
    color: #e43131;
    background-color: #ffffff;
}

.watch_later:focus {
    color: #e43131;
    background-color: #ffffff;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_41 {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.params {
    list-style-type: none;
}

.params li {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-gap: 30px;
    width: 100%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.params li .label {
    font-size: 14px;
    font-family: sans-serif;
    color: #ffffff;
    opacity: 0.4;
}

.genre {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.genre:hover {
    color: #e54d4d;
}

.tag {
    font-size: 12px;
    font-weight: 400;
    padding: 3px 5px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    margin-top: -3px;
}

.text_muted {
    opacity: 0.4;
}

.rathing_main {
    display: block;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    color: rgb(0, 255, 0);
}

.rathing_counts {
    display: block;
    margin-bottom: 10px;
    line-height: 19px;
    opacity: 0.4;
    color: #ffffff;
}

.rathing_details {
    display: inline-block;
    color: #ffffff;
    margin-bottom: 30px;
}

.rathing_details:hover {
    color: #e54d4d;
}

/* Rathing */
.all_rathing {
    padding-top: 40px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.all_media_rathing {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.our_rathing {
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgb(43, 43, 43);
    background-color: rgb(43, 43, 43);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    width: 280px;
    margin-right: 20px;
}

.our_rathing:hover {
    border: 1px solid rgb(59, 59, 59);
    background-color: rgb(59, 59, 59);
}

.our_own_rathing {
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    color: rgb(0, 255, 0);
    margin-bottom: 10px;
}

.user_mark {
    color: #ffffff;
    margin-bottom: 10px;
    opacity: 0.4;
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
}

.your_mark {
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
    color: #e54d4d;
}

.not_our_rathing {
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgb(43, 43, 43);
    background-color: rgb(43, 43, 43);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 280px;
    height: 122px;
}

.imdb_rathing {
    padding-right: 5px;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 19px;
    font-size: 16px;
    font-weight: 600;
}

/* Actors */
.actors {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.top_cast {
    padding-top: 40px;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.name {
    max-width: 150px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 7px;
}

.nickname {
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    opacity: 0.4;
}

/* Popup (modal) for rathing */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.4s,
        visibility 0.4s;
}

.modal__box {
    text-align: center;
    position: relative;
    max-width: 800px;
    padding: 45px;
    z-index: 1;
    background-color: rgb(43, 43, 43);
    margin: 30px 15px;
    border-radius: 15px;
    transform: scale(0);
    transition: transform 0.8s;
    box-shadow: 0 0 20px rgb(24, 24, 24);
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}

.button_1 {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    border-radius: 50%;
    background-color: rgb(72, 72, 72);
    padding: 5px;
    color: rgb(255, 255, 255, 0.6);
    transition: 0.3s;
    cursor: pointer;
}

.button_1:hover {
    background-color: rgb(122, 122, 122);
    color: #ffffff;
}

.statistics {
    margin-top: -10px;
    padding-bottom: 80px;
}

.numbers {
    display: inline-flex;
}

.numbers .rathing_mark {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.numbers .rathing_mark .number {
    position: relative;
    font-size: 16px;
    font-weight: 900;
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    border-radius: 15px;
    background-color: rgb(72, 72, 72);
    padding: 5px;
    color: rgb(255, 255, 255, 0.6);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    z-index: 2;
}

.numbers .rathing_mark .emoji {
    position: absolute;
    top: -90px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.numbers .rathing_mark:hover .emoji {
    opacity: 1;
    pointer-events: auto;
}

.numbers .rathing_mark .number:hover {
    background-color: rgb(122, 122, 122);
    color: #ffffff;
}

.numbers .rathing_mark .number:active {
    background-color: rgb(122, 122, 122);
    color: #ffffff;
    transform: scale(1.03);
}

.numbers .rathing_mark .number:focus {
    background-color: rgb(122, 122, 122);
    color: #ffffff;
    transform: scale(1.03);
}

.estimate {
    border: none;
    background-color: #e54d4d;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}

.estimate:hover {
    background-color: #e43131;
}

.estim {
    margin-bottom: 10px;
}

/* Отзывы зрителей */
.container_2 {
    position: relative;
    width: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container_2 .block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(24, 24, 24);
    margin-bottom: 30px;
}

.container_2 .block .content {
    padding: 30px;
    text-align: center;
}

.container_2 .block .content svg {
    width: 50px;
}

.container_2 .block .content p {
    color: #ffffff;
    padding: 20px 0;
    line-height: 1.5;
}

.data {
    text-align: right;
    color: #ffffff;
    opacity: 0.4;
}

.small_box_1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.small_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.rat {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.5;
    color: rgb(0, 255, 0);
}

/* Show more */
.block:nth-child(n + 5) {
    display: none;
}

.block.is_visible {
    display: block;
}

.show-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show_more {
    border: none;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255, 0.4);
    width: 100px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.show_more:hover {
    background-color: rgb(122, 122, 122);
    color: #ffffff;
}

/* Автоматическое закрытие модального окна "Спасибо за оценку" */
[id^='open-block'] {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

[id^='open-block']:target {
    visibility: visible;
    opacity: 1;
}

[id^='open-block']:target .open-block-inner {
    top: 50%;
}

.open_block_inner {
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 1000;
    width: 50%;
    padding: 17px;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: rgb(43, 43, 43);
    border: 1px solid #ffffff;
    width: 200px;
    height: 50px;
}

#open-block-2 .open_block_inner {
    top: 100%;
    left: 70%;
}

#open-block-2:target .open_block_inner {
    top: 90%;
}

.open_block_text {
    position: relative;
}

.open_block_close {
    position: absolute;
    top: -32px;
    right: -32px;
    width: 24px;
    height: 24px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #fff;
    background: rgb(43, 43, 43);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 50%;
}

.open_block_close:hover {
    background: #e54d4d;
}

.block_1 {
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #e54d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.block_1:hover {
    background-color: #e43232;
}

.favourite_icon {
    width: 22px;
    height: 22px;
}

.favourite_icon path {
    fill: #ffffff;
}

.prokrutka {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.feedback_author {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
