.articlepage_container {
    max-width: 1220px;
    margin: 0 auto;
}

.now_watching_text {
    padding-top: 150px;
    padding-bottom: 20px;
    line-height: 1.6;
    margin-bottom: 0px;
}

.theme {
    color: #ffffff;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    padding-right: 15px;
}

.author {
    display: flex;
    justify-content: flex-start;
    align-items: first baseline;
    line-height: 30px;
}

.name {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding-right: 15px;
    font-weight: 600;
}

.name_1 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.name_2 {
    color: #e54d4d;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.4s;
}

.name_2:hover {
    transform: scale(1.04);
}

.article_text {
    margin-top: 40px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/* Кнопка 'подписаться' */
.block {
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(0%);
    transition: 1s;
    font-size: 30px;
}

.input_1 {
    display: none;
}

label {
    display: inline-block;
    width: 250px;
    border-radius: 100px;
    background-color: #e54d4d;
    border: none;
    cursor: pointer;
    text-align: center;
}

label:after {
    content: 'Подписаться на автора';
    color: #ffffff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: -5px;
}

label:hover {
    background-color: #e43131;
}

.input_1:checked ~ label {
    background-color: #ffffff;
}

.input_1:checked ~ label:after {
    content: 'Вы подписаны!';
    color: #e54d4d;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.like-button .heart-icon {
    color: #888;
    height: 100px;
    width: 100px;
    background-position: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like-button .heart-icon.liked {
    color: red;
}

.like-button .heart-bg {
    background: rgba(255, 192, 200, 0);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
}

.like-button .heart-bg:hover {
    background: rgba(255, 192, 200, 0.7);
}

.like-button {
    display: flex;
    align-items: center;
}

.like-button .likes-amount {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #888;
    font-weight: 900;
    margin-left: 6px;
}

.LikeIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.LikeIcon path {
    fill: #888888;
}

.LikeIcon:hover path {
    fill: #f44336;
}
