.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.now_watching_text {
    padding-top: 150px;
    padding-bottom: 20px;
    line-height: 1.6;
    margin-bottom: 0px;
}

.now_watching_text_1 {
    padding-top: 100px;
    padding-bottom: 20px;
    line-height: 1.6;
    margin-bottom: 0px;
}

.section_header_1 {
    display: flex;
    justify-content: flex-start;
    align-items: first baseline;
    line-height: 60px;
}

.section_title {
    color: #ffffff;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    padding-right: 15px;
}

.section_title_1 {
    color: #e54d4d;
    font-size: 40px;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    padding-right: 15px;
}

.section_subtitle {
    color: #9f9f9f;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.button_all {
    color: #e54d4d;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    transition: 0.05s;
}

.button_all:hover {
    color: #e43131;
    transform: scale(1.03);
}
